/* Styling Only Related To ALL Pages */

body {
  padding-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ADB2D4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {
  background-color: #D5E5D5;
}

ul.nav .active {
  background-color: #C7D9DD;
}

h1 {
  width: 100%;
}
 @font-face{
        font-family:bubble;
        src: url(https://cdn.glitch.global/f5cfd84d-2c71-476a-95e1-963277195f39/Chewy%20Bubble.otf?v=1748618829586)
      }